<launch>
  <!-- start publishing sensor data and running base controller -->
  <node name="saturnbot_controller" pkg="base_controller" type="arduino_node.py" output="screen" clear_params="true" required="true">
      <rosparam file="$(find base_controller)/config/simple_odom_params.yaml" command="load" />
      <remap from="odom" to="output" />
  </node>
</launch>
