<launch>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0 0 0 0 0 0 base_link laser 50" />

  <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node"/>

  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
  <rosparam command="load" file="$(find hcr_bringup)/param/laser_filter.yaml" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hcr_description)/rviz/hokuyo.rviz" />

</launch>
