<launch>
   <node name="saturnbot_controller" pkg="base_controller" type="arduino_node.py" output="screen" clear_params="true">
      <rosparam file="$(find base_controller)/config/complex_odom_params.yaml" command="load" />
      <!--remap from="arduino/sensor/GY85" to="imu/data_raw" /-->
   </node>
</launch>
