<launch>
  <!-- laser sensor -->
  <arg name="laser_sensor" default="$(env HCR_LASER_SENSOR)"/>  <!-- rplidar, lds, hokuyo -->

  <include file="$(find hcr_bringup)/launch/laser.launch"/>

  <!-- 加载机器人模型参数 -->
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find hcr_description)/urdf/mrobot_with_rplidar.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />  

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher">
        <param name="publish_frequency" type="double" value="5.0" />
  </node>
  <node name="base2laser" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 /base_link /laser 50"/>

  <!-- Gmapping -->
  <arg name="custom_gmapping_launch_file" default="$(find hcr_nav)/launch/includes/$(arg laser_sensor)_gmapping.launch.xml"/>
  <include file="$(arg custom_gmapping_launch_file)"/>

  <!-- Move base -->
  <!--<include file="$(find hcr_nav)/launch/includes/move_base.launch.xml"/>-->

  <!-- 启动rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hcr_nav)/rviz/hcr_slam.rviz"/>

</launch>
