<launch>
  <!-- 3D sensor -->
  <arg name="3d_sensor" default="$(env HCR_3D_SENSOR)"/>  <!-- r200, kinect, asus_xtion_pro -->
  
  <include file="$(find hcr_bringup)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="false" />
    <arg name="depth_registration" value="false" />
    <arg name="depth_processing" value="false" />
    
    <!-- We must specify an absolute topic name because if not it will be prefixed by "$(arg camera)".
         Probably is a bug in the nodelet manager: https://github.com/ros/nodelet_core/issues/7 --> 
    <arg name="scan_topic" value="/scan" />
  </include>

   <!-- 加载机器人模型参数 -->
    <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find hcr_description)/urdf/mrobot_with_kinect.urdf.xacro'" />
    <param name="robot_description" command="$(arg urdf_file)" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />  

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher">
        <param name="publish_frequency" type="double" value="5.0" />
    </node>
    <node name="base2laser" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 /base_link /laser 50"/>

  <!-- Gmapping -->
  <arg name="custom_gmapping_launch_file" default="$(find hcr_nav)/launch/includes/$(arg 3d_sensor)_gmapping.launch.xml"/>
  <include file="$(arg custom_gmapping_launch_file)"/>

  <!-- Move base -->
  <include file="$(find hcr_nav)/launch/includes/move_base.launch.xml"/>

  <!-- 启动rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hcr_nav)/rviz/hcr_slam.rviz"/>

</launch>
