<launch>
  
  <arg name="3d_sensor"   default="$(env HCR_3D_SENSOR)"/>  <!-- kinect, asus_xtion_pro, r200 ,f200-->

  <!-- Laserscan topic -->
  <arg name="scan_topic" default="scan"/>

  <include file="$(find hcr_bringup)/launch/includes/3dsensor/$(arg 3d_sensor).launch.xml" />

   <!--                        Laserscan 
     This uses lazy subscribing, so will not activate until scan is requested.
   -->
  <group if="$(arg scan_processing)">
    <node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan" args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet $(arg 3d_sensor)/$(arg 3d_sensor)_nodelet_manager">
      <!-- Pixel rows to use to generate the laserscan. For each column, the scan will
           return the minimum value for those pixels centered vertically in the image. -->
      <param name="scan_height" value="10"/>
      <param name="output_frame_id" value="/$(arg 3d_sensor)_depth_frame"/>
      <param name="range_min" value="0.45"/>
      <remap from="image" to="$(arg 3d_sensor)/$(arg depth)/image_raw"/>
      <remap from="scan" to="$(arg scan_topic)"/>

      <!-- Somehow topics here get prefixed by "$(arg 3d_sensor)" when not inside an app namespace,
           so in this case "$(arg scan_topic)" must provide an absolute topic name (issue #88).
           Probably is a bug in the nodelet manager: https://github.com/ros/nodelet_core/issues/7 -->
      <remap from="$(arg 3d_sensor)/image" to="$(arg 3d_sensor)/$(arg depth)/image_raw"/>
      <remap from="$(arg 3d_sensor)/scan" to="$(arg scan_topic)"/>
    </node>

  </group>
</launch>
