<launch>
  <!-- HCR chassis and imu -->
  <include file="$(find hcr_bringup)/launch/hcr_core.launch"/>
  
  <!-- HCR Speed control -->
  <include file="$(find hcr_bringup)/launch/yocs_cmd_vel_mux.launch"/>

  <!-- HCR model -->
  <!-- include file="$(find hcr_bringup)/launch/hcr_model.launch" /-->

</launch>
